{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo">ॐ इष्टदेवाय नमः</h1><br/>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{% url 'pandeyfamily:index' %}">मेर-गौं</a></li>
          <li><a href="{% url 'pandeyfamily:about' %}">परिचय</a></li>
<!--          <li><a href="gallery.html">पूर्वज</a></li>-->
          <li><a href="{% url 'pandeyfamily:kuldevta' %}">कुल-द्याप्ता</a></li>
          <li><a href="{% url 'pandeyfamily:vanshavali' %}">वंशावली</a></li>
          <li><a href="{% url 'pandeyfamily:login' %}">सामूहिक-समारोह</a></li>
          <li><a href="{% url 'pandeyfamily:video' %}">विडिओ</a></li>
           <li class="dropdown"><a href="#"><span>फोटो</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
               <li><a href="#">आठू</a>

               </li>
               <li><a href="#"></a>
             </ul>

<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a href="gallery.html">पुण्य-दान</a></li>-->
          <li><a href="{% url 'pandeyfamily:contactus' %}">सम्पर्क</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->