{% extends "layout/base.html" %}
{% load static %}
{% block header %}

{% endblock header %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <main id="main">

    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- ======= My & Family Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title pt-4 pt-lg-10">
          <h3>मेरे कुल देवता</h3>
          <p></p>
        </div>

        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/kataramaldev.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>कटारमल स्वामी</h5>
            </p>
            <p>
            कटारमल स्वामी गांव के मध्य में विराजमान है ये गांव  के ईष्ट देव भी है इनकी ये साक्षात कटियानी ताल निवासी देव है ये पूर्व में गौछ में स्थित थे कुछ समस्याओं के चलते गांव के लोगों की विनती के पश्चात कटारमल स्वामी  स्वयं गांव के एक व्यक्ति के स्वप्नो में आकर कहा की मैं अब तुम्हारे ही गांव में आ गया हूं तुम लोग कौला के वृक्ष के पास जाना तुम लोगों को वहा मेरी कुछ सामग्री मिलेगी और सभी लोग उस स्थान पर गए उनको उस वृक्ष के पास जलता हुआ दिया मिला और कुछ देव शक्ति स्वरूप सामग्री मिली
            गांव वालो की कटारमल स्वामी ने बहुत सारे लोगों की मनोकामनाएं पूरी करी इसी तरह से हमारे गांव  में काटारमल की स्थापना हुई । और कटारमल स्वामी को कुल देवता के रूप में भी पूजा जाता है सभी दुधारू (गाय , भैस) पशु का दूध का शेर कुल देवता के नाम से रखा जाता है कटारमल देवता की महिमा भी निराली है यह हमारे लोगों की रक्षा देश विदेशों तक करते है ,इन्ही की कृपा से आजा तक सेना में हो चाहे अध्यापन के क्षेत्र में हो चाहे किसी भी क्षेत्र में कार्यरत हो वह सुरक्षित घर लौट के आता है यह कृपा हमारे ईष्ट देव काटरमल स्वामी ही है इनकी महिमाए बहुत है महिमा बखान के लिए शब्द कम है (जिसके सिर के ऊपर तू स्वामी सो दुःख कैसे पाए)|
            </p>
            <p>
              <h5>अब तक के पुजारी</h5>
            </p>

            <p>
              Need info pls....
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
          <br/>
        </div>
        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/bhumiyadev.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>भूमिया देवता</h5>
            </p>
            <p>
           भूमिया देवता जो मेरे मध्य भू भाग में विराजमान है सर्वप्रथम मेरे गांव में इन्हीं की पूजा होती है और वह स्वयं भगवान शिव जी के अवतार माने जाते हैं और यह फूटलिंग (शिलावतारी) देव हैऔर इन्हें दूध का भोग लगता है और इनकी महिमा बहुत ही अपरंपार है यह लोगों को साक्षात एक बाबा के रूप में दिखते हैं और भटके हुए राही को मंजिल तक पहुंचाते हैं यह मझदार में फंसी हुई नैय्या को पार लगाने का कार्य करते हैं इन्हीं के द्वार पर बड़े बड़े फैसले लिए जाते हैं और यह ज्यादातर ध्यान में लीन रहते हैं इनकी महिमा है बहुत है और यह भूमि की रक्षा के लिए माने जाते हैं इसलिए इन्हें भूमिया देवता के नाम से जाना जाता है|
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>
        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/kalchhindev.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>कालासेम देवता</h5>
            </p>
            <p>
              कलासेम देवता गांव के कौनाड़ नामक स्थान में स्थित है कालसेम देव सभी की रक्षा,  दुःख निवारण, सुख संपत्ति दाता है,इनकी महिमा भी बहुत ही अपार है कहा जाता है की इनके द्वार नीचे धसने वाली धरती को पकड़ कर ऊपर की ओर पलटा दिया था इसी तरह कालासेम देवता ने भी लोगो को अनेकों वरदान दिए है लोग दुख सुख में इन्हीं की शरणाग्त जाते हैं और कालासेम देवता सबकी मनोकामनाएं पूरी करते है निर्धन को धन वान बना देते है असंतति को संतान की प्राप्ति होती है इनकी महिमा भी निराली है
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>
        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/Chhurmaldev.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>छुरमल देवता</h5>
            </p>
            <p>
              छुरमल देवता भी गांव के मध्य में ही स्थित है इनकी भी लीलाएं अपार है ये सभी के दुख दर्द को दूर करते है रोगियों के रोगों को दूर करते है इन्हे शेर सवार भी कहते है इनकी भी महिमाएं अपार है जो इनकी शरण में जाते है प्रभु उनकी सब मनोकामनाएं पूर्ण करते है
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>
        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/samaiji-maiyya.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>समैजी मैय्या</h5>
            </p>
            <p>
              समैजी मैय्या स्वयं 51शक्तिपीठों में से एक मानी जाती है यह तालेश्वर में स्थित मैय्या का रूप ही है इनको रक्षा की देवी माना जाता है इनको फसलों की रक्षा के लिए पूजा जाता है इनका मुख्य स्थान तालेश्वर में है लोगों ने अपनी सुविधा के लिए घरों के आस पास स्थापना कर रखी है।
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>
        <div class="row content pt-4 pt-lg-5">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/ganganathbaba.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <p>
              <h5>गंगानाथ बाबा</h5>
            </p>
            <p>
              गंगानाथ बाबा जो की न्यायकारी देवता के नाम से भी जाने जाते है इनका गांव में मूल स्थान जो की कुनकू मैं है और एक मंदिर मैथल में भी स्थित है गंगानाथ देवता भी कष्ट निवारण, सुख संपत्ति दाता, सद्बुद्धि दाता,देवता माने जाते है इनकी लीलाएं भी अपार है कहा जाता हैं कि इनसे कुछ भी बाते छिपी नहीं रहती है  गंगानाथ बाबा सबकी मनोकामनाएं पूरी करते है ओर भक्तो पर अपनी कृपा बनाए रखते है और देश परदेश में सबकी रक्षा करते है
            </p>
<!--            <a href="our-story.html" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>

      </div>
    </section><!-- End My & Family Section -->
    </div>

    <!-- ======= Features Section ======= -->
<!--    <section id="features" class="features">-->
<!--      <div class="container">-->

<!--        <div class="row">-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-laptop"></i></div>-->
<!--            <h4 class="title"><a href="">Lorem Ipsum</a></h4>-->
<!--            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-bar-chart"></i></div>-->
<!--            <h4 class="title"><a href="">Dolor Sitema</a></h4>-->
<!--            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-bounding-box"></i></div>-->
<!--            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>-->
<!--            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-broadcast"></i></div>-->
<!--            <h4 class="title"><a href="">Magni Dolores</a></h4>-->
<!--            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-camera"></i></div>-->
<!--            <h4 class="title"><a href="">Nemo Enim</a></h4>-->
<!--            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4 col-md-6 icon-box">-->
<!--            <div class="icon"><i class="bi bi-diagram-3"></i></div>-->
<!--            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>-->
<!--            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Features Section &ndash;&gt;-->

    <!-- ======= Recent Photos Section ======= -->
    <section id="recent-photos" class="recent-photos">
      <div class="container">

        <div class="section-title">
          <h2>Recent Photos</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="recent-photos-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a href="{% static 'assets/img/recent-photos/recent-photos-1.jpg' %}" class="glightbox"><img src="{% static 'assets/img/recent-photos/recent-photos-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-2.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-3.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-4.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-5.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-6.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-7.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-8.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Recent Photos Section -->

  </main><!-- End #main -->

{% endblock content %}

{% block script %}
{% endblock script %}