{% extends "layout/base.html" %}

{% load static %}
{% block header %}

<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
{% endblock header %}

{% block content %}
<!-- ======= Contact Us Section ======= -->

  <body>
    <div class="tree">
      <ul>
        <li>
          <a href="#">Shiv Dutt</a>
          <ul>
            <li>
              <a href="#">Ganga Dutt</a>
              <ul>
                <li>
                  <a href="#">Dharma Nand
                    <ul>
                    <li>
                      <a href="#">Keshav Dutt</a>
                      <ul>
                        <li><a href="#">Tara Dutt</a>
                          <ul>
                            <li><a>Iner Dev</a>
                              <ul>
                                <li><a>Mani Ram</a>
                                  <ul>
                                    <li><a>Jay Dev</a></li>
                                    <li><a>Bhaan Dev</a>
                                      <ul>
                                        <li><a>Lalit</a>
                                        <ul>
                                          <li><a>Satish</a></li>
                                          <li><a>Harish</a></li>
                                          <li><a>Manish</a></li>
                                        </ul>
                                        </li>
                                        <li><a>Shyam Dutt</a>
                                        <ul><li><a>Deepak</a></li></ul>
                                        </li>
                                        <li><a>Keshav Dutt</a></li>
                                        <li><a>Ram Dutt</a>
                                        <ul>
                                          <li><a>Suraj</a></li>
                                        </ul>
                                        </li>
                                      </ul>
                                    </li>

                                  </ul>
                                </li>
                                <li><a>Dev Dutt</a></li>
                                
                              </ul>
                            </li>

                            <li><a>Purushottam</a></li>
                          </ul>
                        
                        </li>
                        <li><a href="#">Tika Ram</a></li>
                        <li><a href="#">Lakshmi Dutt</a>
                        <ul>
                          <li><a>Ganga Dutt</a>
                          <ul>
                            <li><a>Lokmani</a>
                            <ul>
                              <li><a>Jaydev</a>
                              <ul>
                                <li><a>Urba Dutt</a>
                                <ul>
                                  <li><a>Neeraj</a></li>
                                  <li><a>Sachin</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Ramdutt</a>
                              <ul>
                                <li><a>Madhav</a>
                                  <ul>
                                    <li><a>Gaurav</a></li>
                                    <li><a>Prakash</a></li>
                                  </ul>
                                </li>

                              </ul>
                              </li>
                            </ul>
                            </li>
                            <li><a>Gopal Dutt</a>
                            <ul>
                              <li><a>Badri Dutt</a>
                              <ul>
                                <li><a>Murlidhar</a></li>
                              </ul>
                              </li>
                              <li><a>Tara Dutt</a>
                              <ul>
                                <li><a>Narayan Dutt</a>
                                <ul>
                                  <li><a>Vivek</a></li>
                                  <li><a>Diwakar</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                          </ul>
                          </li>
                        </ul>
                        </li>
                        <li><a>Nand Kishor</a>
                          <ul>
                            <li><a>Kishna Nand</a>
                            <ul>
                              <li><a>Kir Dev</a></li>
                              <li><a>Devi Dutt</a>
                              <ul>
                                <li><a>Ram Dutt</a>
                                <li><a>Ganesh</a>
                                <ul>
                                  <li><a>Neeraj</a></li>
                                  <li><a>Govind</a></li>
                                </ul>
                                </li>
                                <li><a>Bhola Dutt</a>
                                <ul>
                                  <li><a>Rahul</a></li>
                                </ul>
                                </li>
                                </li>
                                <li><a>Lokmani</a>
                                <ul>
                                  <li><a>Prakash</a>
                                  <ul><li><a>Karan</a></li></ul>
                                  </li>
                                  <li><a>Harish</a>
                                    <ul>
                                      <li><a>Ayush</a></li>
                                      <li><a>Yugal</a></li>
                                    </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Ganga Dutt</a>
                                <ul>
                                  <li><a>Kedar</a>
                                  <ul><li><a>Om</a></li></ul>
                                  </li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Ghanshyam</a>
                              <ul>
                                <li><a>Devi Dutt</a></li>
                                <li><a>Parmanand</a>
                                <ul>
                                  <li><a>Basudev</a>
                                  <ul>
                                    <li><a>Krushna nand</a></li>
                                    <li><a>Rahul</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Chudamani</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Inerdev</a>
                              <ul>
                                <li><a>Jeevanand</a></li>
                                <li><a>Durga Dutt</a>
                                <ul>
                                  <li><a>Gopal Dutt</a>
                                  <ul>
                                    <li><a>Pankaj</a></li>
                                    <li><a>Manish</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Narayan Dutt</a>
                                  <ul>
                                    <li><a>Mittu</a></li>
                                  </ul>
                                  </li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Keshav Dutt</a>
                              <ul>
                                <li><a>Madhvanand</a>
                                <ul>
                                  <li><a>Prakash</a>
                                  <ul>
                                    <li><a>Lokesh</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Suresh</a></li>
                                  <li><a>Kheemanand</a></li>
                                </ul>
                                </li>
                                <li><a>Bhawani Dutt</a>
                                <ul>
                                  <li><a>Leeladhar</a></li>
                                  <li><a>Lakshmi Dutt</a></li>
                                </ul>
                              </li>
                              </ul>
                              </li>
                              <li><a>Umapati</a></li>
                              <li><a>Shyam Dutt</a></li>
                              <li><a>Jaydev</a></li>
                            </ul>
                            </li>
                            <li><a>Thakur Dutt</a>
                            <ul>
                              <li><a>Chandra mani</a>
                              <ul>
                                <li><a>Trilok Mani</a>
                                <ul>
                                  <li><a>Prasad</a></li>
                                  <li><a>Harish</a></li>
                                </ul>
                                </li>
                                <li><a>Krishna Nand</a>
                                <ul>
                                  <li><a>Kedar</a>
                                  <ul>
                                    <li><a>Himanshu</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Madan</a>
                                    <ul>
                                      <li><a>Kamalesh</a></li>
                                    </ul>
                                  </li>
                                  <li><a>Vasudev</a></li>
                                  <li><a>Parmanand</a>
                                    <ul>
                                      <li><a>Naveen</a></li>
                                    </ul>
                                  </li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Tara Dutt</a>
                              <ul>
                                <li><a>Bhashkar</a>
                                <ul>
                                  <li><a>Mukesh</a></li>
                                </ul>
                                </li>
                                <li><a>Ramesh</a>
                                  <ul>
                                    <li><a>Shankar</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                            <li><a>Gopal Dutt</a>
                            <ul>
                              <li><a>Trilokmani</a>
                              <ul>
                                <li><a>Haridutt</a></li>
                                <li><a>Ambadutt</a>
                                <ul>
                                  <li><a>Deepak</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                            <li><a>Ganga Dutt</a>
                            <ul>
                              <li><a>Durga Dutt</a>
                              <ul>
                                <li><a>Haridutt</a>
                                <ul>
                                  <li><a>Bhuwan</a>
                                  <ul>
                                    <li><a>Dheeraj</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Hemchand</a>
                                    <ul>
                                      <li><a>Kartik</a></li>
                                    </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Kheemanand</a>
                                <ul>
                                  <li><a>Rohit</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Bishan Dutt</a>
                              <ul>
                                <li><a>Shyamdutt</a>
                                <ul>
                                  <li><a>Harish</a>
                                    <ul>
                                      <li><a>Kunnu</a></li>
                                    </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Manoj</a></li>
                                <li><a>Tara Dutt</a>
                                  <ul>
                                    <li><a>Deepak</a></li>
                                  </ul>
                                </li>
                                <li><a>Gopal Dutt</a>
                                  <ul>
                                    <li><a>Nitin</a></li>
                                  </ul>
                                </li>
                                <li><a>Devi Dutt</a></li>
                                <li><a>Dinesh</a>
                                  <ul>
                                    <li><a>Nikit</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                            <li><a>Nand Ram</a>
                            <ul>
                              <li><a>Umapati</a>
                              <ul>
                                <li><a>Pitambar</a>
                                <ul>
                                  <li><a>Komal</a></li>
                                </ul>
                                </li>
                                <li><a>Ganesh</a>
                                <ul>
                                  <li><a>Uknown</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Bishan Dutt</a>
                              <ul>
                                <li><a>Dharmanand</a>
                                <ul>
                                  <li><a>Manoj</a></li>
                                  <li><a>Deepak</a></li>
                                </ul>
                                </li>
                                <li><a>Ramdutt</a>
                                  <ul>
                                    <li><a>Harish</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Shyamdut</a>
                              <ul>
                                <li><a>Lakshmi Dutt</a></li>
                                <li><a>Kheemanand</a>
                                <ul>
                                  <li><a>Deepak</a></li>
                                  <li><a>Rohit</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Ganga Dutt</a>
                              <ul>
                                <li><a>Narayan Dutt</a></li>
                                <li><a>Madhwanand</a></li>
                                <li><a>Mahesh Dutt</a></li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                            <li><a>Maheshwar</a>
                            <ul>
                              <li><a>Gauri Dutt</a>
                              <ul>
                                <li><a>Mathura Dutt</a>
                                <ul>
                                  <li><a>Mohan Chandra</a>
                                  <ul>
                                    <li><a>Ghanshyam</a></li>
                                    <li><a>Chandu</a></li>
                                  </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Prem Ballabh</a>
                                  <ul>
                                    <li><a>Shankar</a>
                                    <ul>
                                      <li><a>Mukesh</a></li>
                                      <li><a>Manoj</a></li>
                                    </ul>
                                    </li>
                                    <li><a>Bhuwan</a></li>
                                  </ul>
                                </li>
                                <li><a>Haridutt</a>
                                <ul>
                                  <li><a>Umesh</a></li>
                                  <li><a>Khashti</a></li>
                                </ul>
                                </li>
                                <li><a>Gopal Dutt</a>
                                  <ul>
                                    <li><a>Jeevan</a></li>
                                    <li><a>Deepak</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Jeevanand</a></li>
                              <li><a>Ganga Dutt</a>
                              <ul>
                                <li><a>Ram Dutt</a>
                                <ul>
                                  <li><a>Umesh Kumar</a>
                                  <ul>
                                    <li><a>Himanshu</a></li>
                                    <li><a>Harishit</a></li>
                                  </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Bhashkar</a>
                                  <ul>
                                    <li><a>Jeevan</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                            </ul>
                            </li>
                            
                          </ul>
                          </li>
                        <li><a href="#">Deena Mani</a>
                          <ul>
                            <li><a>Kanti Ballabh</a>
                            <ul>
                              <li><a>Dharma Nand</a></li>
                              <li><a>Bhawani Dutt</a>
                              <ul>
                                <li><a>Ganesh Dutt</a>
                                <ul>
                                  <li><a>Jagdeesh</a>
                                  <ul>
                                    <li><a>Nilesh</a></li>
                                    <li><a>Kamalesh</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Jeevan</a>
                                  <ul>
                                    <li><a>Ashish</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Subhash</a></li>
                                </ul>
                                </li>
                                <li><a>Prem Ballabh</a>
                                <ul>
                                  <li><a>Desh Rao</a>
                                  <ul><li><a>Sandeep</a></li></ul>
                                  </li>
                                  <li><a>Hemraj</a>
                                    <ul><li><a>Anshu</a></li></ul>
                                  </li>
                                  <li><a>Prakash</a>
                                    <ul><li><a>Sarthak</a></li></ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Nanda Ballabh</a>
                                <ul>
                                  <li><a>Girish</a></li>
                                  <li><a>Neeraj</a></li>
                                </ul>
                                </li>
                                <li><a>Devi Dutt</a>
                                  <ul>
                                    <li><a>Raja</a></li>
                                    <li><a>Vipin</a></li>
                                  </ul>
                                </li>
                                <li><a>Ramesh</a>
                                  <ul>
                                    <li><a>Basant</a></li>
                                  </ul>
                                </li>
                                <li><a>Mahesh</a>
                                  <ul>
                                    <li><a>Priyanshu</a></li>
                                  </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Parma Nand</a></li>
                            </ul>
                            </li>
                            <li><a>Mani Ram</a>
                            <ul>
                              <li><a>Chadramani</a>
                              <ul>
                                <li><a>Ambadutt</a>
                                <ul>
                                  <li><a>Ganesh Dutt</a>
                                  <ul>
                                    <li><a>Hemchandra</a></li>
                                    <li><a>Depak</a></li>
                                    <li><a>Sonu</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Tara Dutt</a>
                                    <ul>
                                      <li><a>Lalit</a></li>
                                      <li><a>Amit</a></li>
                                      </ul>
                                  </li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Gopal Dutt</a>
                              <ul>
                                <li><a>Durga Dutt</a>
                                <ul>
                                  <li><a>Bishnu Prasad</a>
                                  <ul>
                                    <li><a>Tushar</a></li>
                                  </ul>
                                  </li>
                                  <li><a>Ramesh</a>
                                    <ul>
                                      <li><a>Depak</a></li>
                                    </ul>
                                  </li>
                                </ul>
                                </li>
                                <li><a>Hari Dutt</a>
                                <ul>
                                  <li><a>Leeladhar</a></li>
                                  <li><a>Neeraj</a></li>
                                </ul>
                                </li>
                                <li><a>Jagdeesh</a>
                                <ul>
                                  <li><a>Lokendar</a></li>
                                </ul>
                                </li>
                              </ul>
                              </li>
                              <li><a>Ganga Dutt</a></li>
                            </ul>
                            </li>
                            <li><a>Purushottam</a></li>
                          </ul>
                        </li>
                      </ul>
                    
                    </li>
                    <li><a>Ram Dutt</a></li>
                    <li><a>Andev</a></li>
                    <li><a>Nardev</a></li>
                    <li><a>Kirdev</a></li>
                  </ul>
                  </a>                  
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Devi Dutt</a>
              <ul>
                <li>
                  <a href="#">Bhuv Dev</a>
                  <ul>
                    <li><a>Andev</a></li>
                    <li><a>Kamala Pati</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Vidya Pati</a>
                  <ul>
                    <li>
                      <a href="#">Mani Ram</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Grand Child</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>


{% endblock content %}

{% block script %}

$(function () {
    $('.genealogy-tree ul').hide();
    $('.genealogy-tree>ul').show();
    $('.genealogy-tree ul.active').show();
    $('.genealogy-tree li').on('click', function (e) {
        var children = $(this).find('> ul');
        if (children.is(":visible")) children.hide('fast').removeClass('active');
        else children.show('fast').addClass('active');
        e.stopPropagation();
    });
});

{% endblock script %}